#header .navbar {
  background-color: #316b83;
  box-shadow: 0px 1px 6px grey;
}
#header .navbar img {
  width: 150px;
}
#header a {
  font-family: salsa;
  font-size: 18px;
  font-weight: bold;
}
#header a:hover {
  color: #1fb6d7;
  font-family: salsa;
  font-weight: bold;
}
#header .btn {
  width: 80px;
  height: 40px;
  font-family: salsa;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
  background-color: #2a96ce;
}
#header .btn:hover {
  width: 80px;
  height: 40px;
  color: gray;
  font-family: salsa;
  font-size: 18px;
  font-weight: bold;
  background-color: #76d1ff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}
/* Akhir Header */

/* Awal Carousel */
#Banner .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: white;
  background-clip: padding-box;
  border-radius: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
#Banner .carousel-indicators [data-bs-target]:hover {
  background-color: #76d1ff;
}
#Banner .fa-chevron-left,
.fa-chevron-right {
  font-size: 50px;
}
#Banner .fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: #76d1ff;
  font-size: 50px;
}
#Banner .slide svg {
  margin-top: -50px;
}
/* Akhir Carousel */

/* Awal Content */
#Content .bg-content {
  background-color: #f5f5f5;
  margin-top: 90px;
}
#Content .judul h1 {
  font-family: salsa;
  font-weight: bold;
  color: #316b83;
  margin-bottom: 200px;
}
#Content .bg-project-left,
#Content .bg-cutting-left {
  background-image: linear-gradient(to left, rgb(204, 149, 53), rgb(65, 135, 171));
  height: 410px;
  margin-bottom: 150px;
}
#Content .bg-project-left img {
  margin-top: -100px;
  width: 100%;
  height: 450px;
  object-fit: contain;
}
#Content .bg-project-right,
#Content .bg-cutting-right {
  background-color: white;
  box-shadow: 3px 2px 7px grey;
  height: 410px;
  margin-bottom: 150px;
}
#Content .bg-project-right h3,
#Content .bg-cutting-right h3 {
  font-family: salsa;
  font-size: 35px;
  font-weight: bold;
  /* margin-top: 50px; */
}
#Content .bg-project-right h6,
#Content .bg-cutting-right h6 {
  font-family: salsa;
  font-size: 20px;
  color: grey;
  margin-top: 50px;
}
#Content .bg-project-right a,
#Content,
#Content .bg-cutting-right a,
.bg-component-left a {
  font-family: salsa;
  font-size: 18px;
  background-color: #316b83;
  border-radius: 10px;
}
#Content .bg-project-right a:hover,
#Content .bg-component-left a:hover,
#Content .bg-cutting-right a:hover {
  background-color: #76d1ff;
}
/* Awal Component */
#Content .bg-component-right {
  background-image: linear-gradient(to left, rgb(204, 149, 53), rgb(65, 135, 171));
  height: 410px;
  margin-bottom: 150px;
}
#Content .bg-component-right img {
  margin-top: -80px;
  width: 100%;
  height: 450px;
  object-fit: contain;
}
#Content .bg-component-left h3 {
  font-family: salsa;
  font-size: 35px;
  font-weight: bold;
  margin-top: 50px;
}
#Content .bg-component-left h6 {
  font-family: salsa;
  font-size: 20px;
  color: grey;
  margin-top: 50px;
}
#Content .bg-component-left {
  background-color: white;
  box-shadow: 3px 2px 7px grey;
  height: 410px;
  margin-bottom: 150px;
}
/* Akhir Component */

/* Awal Cutting */
#Content .bg-cutting-left img {
  margin-top: -100px;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
/* Akhir Cutting */
/* Akhir Content */

/* Awal Portofolio */
#Portofollio .judul h1 {
  font-family: salsa;
  font-weight: bold;
  color: #316b83;
}
#Portofollio .picture img {
  /* margin-top: 150px; */
  width: 100%;
  height: 450px;
  object-fit: contain;
}
#Portofollio .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: -3rem;
  list-style: none;
}
#Portofollio .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #2f57a4;
  background-clip: padding-box;
  border-radius: 100%;
  border-color: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
/* Akhir Portofolio */

/* Awal Footer */
#Footer .bg-footer {
  background-color: #316b83;
  margin-top: 150px;
}
#Footer .sosmed img {
  width: 35px;
  margin-left: 10px;
}
#Footer .sosmed img:hover {
  opacity: 60%;
}
#Footer hr {
  border: 1px solid;
  border-color: white;
  margin-top: 15px;
}
#Footer .copyright {
  font-size: 18px;
  font-family: neuton;
  color: white;
}
#Footer .copyright span {
  font-weight: bold;
  font-size: 18px;
  font-family: concert one;
}
/* Akhir Footer */
